*/Makefile
*/Makefile.in
*/*/Makefile.in
*/*/Makefile.in
*/*/*/Makefile.in
configure
config.guess
config.sub
config.status
config.log
libtool
Makefile
Makefile.in
stamp-h1
override_dh_auto_install
*.o
*.la
*.lo
*.so
*.a
*/.deps/
*/.libs/
py/build/.*
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
packages/solaris/CSW/*/pkginfo
packages/solaris/CSW/*/prototype
test-stamp
build-stamp
config.h
config.h.in
.pc/
aclocal.m4
autom4te.cache/
autoreconf-stamp
*/*.po
./.gitignore
*/*.php
lib/crypt_prog
debian/boinc-client/
debian/boinc-dbg/
debian/boinc-dev/
debian/boinc-manager/
debian/boinc-server/
debian/boinc/
debian/files
debian/tmp/
update-boinc-applinks.1
compile
depcomp
install-sh
ltmain.sh
m4/*.m4
missing
debian/patches/debian-changes-*
version.log
svn_version.h
version.h
*/.*.swp
apps/1sec
apps/concat
apps/upper_case
client/boinc
client/boinc_client
client/boinccmd
client/switcher
clientgui/boincmgr
vda/plot
vda/ssim
vda/vda
vda/vdad
samples/example_app/uc2
samples/sleeper/sleeper
samples/worker/worker
samples/wrapper/wrapper
sched/antique_file_deleter
sched/boinc_path_config.py
sched/census
sched/cgi
sched/credit_test
sched/db_dump
sched/db_purge
sched/delete_file
sched/feeder
sched/file_deleter
sched/file_upload_handler
sched/get_file
sched/make_work
sched/message_handler
sched/put_file
sched/sample_assimilator
sched/sample_bitwise_validator
sched/sample_dummy_assimilator
sched/sample_trivial_validator
sched/sample_work_generator
sched/sched_driver
sched/show_shmem
sched/single_job_assimilator
sched/status
sched/stop
sched/transitioner
sched/trickle_credit
sched/trickle_echo
sched/update_stats
sched/wu_check
tools/cancel_jobs
tools/create_work
tools/dir_hier_move
tools/dir_hier_path
tools/sign_executable
lib/parse_test
debian/boinc-amd-opencl
debian/boinc-app-examples
debian/boinc-cgi-stripchart
debian/boinc-nvidia-cuda
debian/boinc-server-maker
boinc_lockfile
debian/libboinc-app-dev
debian/libboinc-app
debian/libboinc
stderr.txt
clientscr/boincscr
doc/manpages/appmgr.8
doc/manpages/boinc.1
doc/manpages/boinccmd.1
doc/manpages/boincmgr.1
