*/Makefile
*/Makefile.in
*/*/Makefile.in
*/*/Makefile.in
*/*/*/Makefile.in
configure
config.guess
config.sub
config.status
config.log
libtool
Makefile
Makefile.in
*/*.o
*/*.la
*/*.lo
*/*.so
*/*.a
*/.deps/
*/.libs/
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
packages/solaris/CSW/*/pkginfo
packages/solaris/CSW/*/prototype
test-stamp
build-stamp
config.h
config.h.in
.pc/
aclocal.m4
autom4te.cache/
autoreconf-stamp
*/*.po
version.h
.gitignore
