[Desktop Entry]
Type=Application
Encoding=UTF-8
Exec=/usr/bin/boincmgr
Categories=Monitor;Utility;GTK
Name=BOINC Manager
GenericName=BOINC monitor and control utility
Comment=Configure or monitor a BOINC Core Client
