[Desktop Entry]
Type=Application
Encoding=UTF-8
Exec=/usr/bin/boincmgr
Path=/var/lib/boinc-client
Icon=boincmgr-32.xpm
Categories=Monitor;Utility;GTK
Name=BOINC Manager
GenericName=BOINC monitor and control utility
GenericName[de]=BOINC Überwachungs- und Kontrollprogramm 
Comment=Configure or monitor a BOINC core client
Comment[de]=BOINC Basis Client konfigurieren oder überwachen
