Source: boinc
Section: net
Priority: optional
Maintainer: Debian BOINC Maintainers <pkg-boinc-devel@lists.alioth.debian.org>
Uploaders: Steffen Moeller <moeller@pzr.uni-rostock.de>, Frank S. Thomas <frank@thomas-alfeld.de>
Standards-Version: 3.6.2
Build-Depends: debhelper (>= 4.2.21), dpatch, python, libmysqlclient14-dev, zlib1g-dev, libssl-dev, libcurl3-openssl-dev (>= 7.13.2), freeglut3-dev, libsm-dev, libice-dev, libxmu-dev, libxi-dev, libx11-dev, libjpeg62-dev, libwxgtk2.6-dev, automake1.9 (>= 1.9.3), autoconf (>= 2.59), docbook2x, docbook-xml

Package: boinc-client
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, lsb-base (>= 3.0-6)
Suggests: boinc-manager | kboincspy
Description: BOINC core client
 This package contains the BOINC core client program, that is required to
 participate in any project that uses BOINC.
 .
 The Berkeley Open Infrastructure for Network Computing (BOINC) is a
 software platform for distributed computing. A central server
 distributes work units and collects results via this client.
 When attaching a local machine to a project, this client will also 
 dynamically download the projects application's program to be then
 wrapped by the BOINC core client.
 .
 Homepage: http://boinc.berkeley.edu

Package: boinc-manager
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: boinc-client
Description: control and monitor utility for the BOINC core client
 The Berkeley Open Infrastructure for Network Computing (BOINC) is a
 software platform for distributed computing using volunteered computer
 resources.
 .
 This package contains the BOINC manager, a graphical monitoring utility
 for the BOINC core client.
 .
 Homepage: http://boinc.berkeley.edu

Package: boinc-dev
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6-dev, libstdc++6-4.0-dev, libssl-dev, libmysqlclient14-dev
Description: BOINC development files
 The Berkeley Open Infrastructure for Network Computing (BOINC) is a
 software platform for distributed computing using volunteered computer
 resources.
 .
 This package contains static libraries and header files needed to develop
 and compile applications which utilize the BOINC infrastructure.
 .
 Homepage: http://boinc.berkeley.edu

#Package: boinc-server
#Section: net
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-boinc, python-mysqldb, mysql-server-4.1 | virtual-mysql-server
#Description: BOINC server applications and data files
# The Berkeley Open Infrastructure for Network Computing (BOINC) is a
# software platform for distributed computing using volunteered computer
# resources.
# .
# This package ...
# .
# Homepage: http://boinc.berkeley.edu
#
#Package: python-boinc
#Section: python
#Architecture: all
#Depends: ${python:Depends}, ${misc:Depends}
#Description: Python module for BOINC (dummy package)
# The Berkeley Open Infrastructure for Network Computing (BOINC) is a
# software platform for distributed computing using volunteered computer
# resources.
# .
# This is a dummy package that depends on the version of the Python BOINC
# module that is compiled for the default version of Python in Debian. 
# .
# Homepage: http://boinc.berkeley.edu
#
#Package: python2.3-boinc
#Section: python
#Architecture: all
#Depends: ${python:Depends}, ${misc:Depends}
#Description: Python 2.3 module for BOINC
# The Berkeley Open Infrastructure for Network Computing (BOINC) is a
# software platform for distributed computing using volunteered computer
# resources.
# .
# This package contains the Python 2.3 module for BOINC.
# .
# Homepage: http://boinc.berkeley.edu
#
#Package: python2.4-boinc
#Section: python
#Architecture: all
#Depends: ${python:Depends}, ${misc:Depends}
#Description: Python 2.4 module for BOINC
# The Berkeley Open Infrastructure for Network Computing (BOINC) is a
# software platform for distributed computing using volunteered computer
# resources.
# .
# This package contains the Python 2.4 module for BOINC.
# .
# Homepage: http://boinc.berkeley.edu
