#!/usr/bin/make -f

# Remember to comment this before tagging for a release.
DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

ifeq ($(DEB_BUILD_GNU_TYPE), i486-linux-gnu)
DEB_BUILD_GNU_TYPE = i686-linux-gnu
endif

ifneq (, $(BOINC_BUILD_TYPE))
DEB_BUILD_GNU_TYPE = $(BOINC_BUILD_TYPE)
endif

DEB_CONFIGURE_EXTRA_FLAGS := --enable-client --enable-server

DEB_INSTALL_MANPAGES_boinc-client = boinc_client.1 boinc_cmd.1
DEB_INSTALL_MANPAGES_boinc-manager = boincmgr.1

pre-build::
	aclocal-1.9 -I m4 && autoheader && automake-1.9 && autoconf
	
	docbook2x-man debian/manpages/boinc_client.xml
	docbook2x-man debian/manpages/boinc_cmd.xml
	docbook2x-man debian/manpages/boincmgr.xml

clean::
	dh_clean boinc_client.1
	dh_clean boinc_cmd.1
	dh_clean boincmgr.1

binary-install/boinc-manager::
	dh_desktop -p$(cdbs_curpkg)
